near_events_all_topic=""
near_events_topic_prefix=""
force_create_new_topic=false
new_topic_partitions=1
new_topic_replication=3
whitelist_contract_ids=[]
blacklist_contract_ids=[]

[kafka]
"bootstrap.servers"="{{ BROKER_ENDPOINT }}"
"security.protocol"="SASL_SSL"
"sasl.mechanisms"="PLAIN"
"sasl.username"="{{ CLUSTER_API_KEY }}"
"sasl.password"="{{ CLUSTER_API_SECRET }}"
"session.timeout.ms"="45000"
